{{ define "title" }}
About me
{{ end }}

{{ define "main" }}

<h1>About me</h1>
<p>
  I'm a London based software developer, passionate about building and improving
  the web. For the last 5 years I've been a programmer at
  <a href="http://basecamp.com">Basecamp</a>, working across all their products
  including <a href="https://basecamp.com/new">Basecamp 3</a>,
  <a href="https://highrisehq.com">Highrise</a>, and many more.
</p>
<p>
  Before that I was a partner at <a href="http://gofreerange.com">Go Free Range</a>,
  a small collective of talented, like-minded developers. While there we got
  <a href="https://www.futurelearn.com/">FutureLearn</a> off the ground, built the
  "government" part of <a href="https://www.gov.uk">GOV.UK</a> (replacing all UK
  government departmental websites), and a number of smaller pieces of work for
  clients such as <a href="https://mubi.com/">MUBI</a>,
  <a href="https://www.o2.co.uk">O2</a> and <a href="https://gofreerange.com/projects">others</a>.
</p>

{{ end }}
