* {
  -webkit-font-smoothing: antialiased;
}

$base: black;
$highlight: rgb(0, 84, 168);
$medium: rgba($highlight, 0.3);
$soft: rgba($highlight, 0.1);
$contrast: #fff2e8;

$sans: Rubik, sans-serif;
$serif: Merriweather, serif;
$mono: "Fira Mono", monospace;

body {
  max-width: 680px;
  margin-left: 8px;
  margin-right: 8px;
  color: $base;
}

@media (min-width:696px) {
  body {
    margin-left: auto;
    margin-right: auto;
  }
}

body {
  font-family: $serif;
  font-size: 18px;
  line-height: 1.6em;
  font-weight: normal;
}

h1, h2, h3, h4, h5 {
  font-family: $sans;
  font-weight: 500;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

h1 {
  font-size: 1.8em;
  line-height: 1.2em;
}

h2 {
  font-size: 1.2em;
}

a {
  color: $highlight;
}

body > header {
  color: $medium;
  font-family: $sans;
  font-weight: 400;
  font-size: 1.2em;

  a {
    color: $highlight;
    text-decoration: none;
  }
}

article {
  margin-top: 4em;

  > h1 {
    > a {
      color: $base;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
    margin-top: 0;
  }

  footer {
    font-family: $sans;
    font-weight: 400;
    color: $highlight;
    ol, li {
      display: inline;
      padding: 0;
    }

    li {
      color: $medium;
      a {
        color: $highlight;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      &:before {
        content:" · ";
      }
    }
  }

  padding-bottom: 1em;
  border-bottom: 1px solid $soft;
}

code {
  font-family: $mono;
  letter-spacing: -1px;
  padding-left: 0.2em;
  padding-right: 0.2em;
  background: $contrast;
  border-radius: 0.1em;
}

body.stream main {
  font-size: 24px;
  line-height: 1.6em;

  figure, blockquote {
    margin: 0;
  }

  .quotation {
    &::before {
      content: "“";
    }

    &::after {
      content: "”"
    }
  }

  cite, figcaption {
    display: block;
    text-align: right;
    font-size: 18px;
    line-height: 1.6em;
    font-style: italic;
  }

  cite::before {
    content: "— ";
  }

  a {
    color: $base;
    text-decoration: none;
  }

  figure {
    img {
      max-height: 100%;
      max-width: 100%;
      border-radius:  0.1em;
    }
  }

  article {
    border-bottom: none;
    margin-top: 4em;
    padding-bottom: 0;
  }

  .youtube {
    padding-top: 65%;
    height: 0;
    overflow: hidden;
    position: relative;

    iframe {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
