* {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: Merriweather, serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: normal;
}

h1, h2, h3, h4, h5 {
  font-family: Rubik, sans-serif;
  font-weight: 500;
}

h1 {
  font-family: Rubik;
  font-size: 32px;
  font-stretch: normal;
  font-style: normal;
  font-variant-caps: normal;
  font-weight: 500;
}

body {
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
}
