@import "style/base";

body > header {
  font-size: 1.1em;

  @include black-uppercase();
  background-color:  black;
  color: white;
  margin-bottom: 3em;

  li {
    display: inline;

    &::after {
      content: " · "
    }

    &:first-of-type::after {
      content: " — ";
    }

    &:last-of-type::after {
      content: "";
    }

    a {
      background: none;

      &:hover {
        color: black;
        background: white;
        border-radius: 0;
        text-decoration: none;
      }
    }
  }
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1rem;
}

p {
  margin-bottom: 1rem;
}

ol li {
  list-style-type: disc;
}

ul {
  list-style-type: none;

  li {
    position: relative;
    margin-bottom: 1em;
  }
}

// @mixin media-border {
//   border-radius: 0.2em;
//   border: 2px solid black;
// }

// * {
//   -webkit-font-smoothing: antialiased;
// }

// $base: black;
// $highlight: rgb(0, 150, 200);
// $medium: rgba($highlight, 0.3);
// $soft: rgba($highlight, 0.15);
// $contrast: #fff2e8;

// $sans: Rubik, sans-serif;
// $serif: Merriweather, serif;
// $mono: "Fira Mono", monospace;

// body {
//   max-width: 680px;
//   margin-left: 8px;
//   margin-right: 8px;
//   color: $base;
// }

// @media (min-width:696px) {
//   body {
//     margin-left: auto;
//     margin-right: auto;
//   }
// }

// body {
//   font-family: $serif;
//   font-size: 18px;
//   line-height: 1.6em;
//   font-weight: normal;

//   header {
//     margin-bottom: 2em;
//   }
// }

// h1, h2, h3, h4, h5 {
//   font-family: $sans;
//   -webkit-hyphens: none;
//   -ms-hyphens: none;
//   hyphens: none;
// }

// h1 {
//   font-size: 1.8em;
//   line-height: 1.2em;
// }

// h2 {
//   font-size: 1.2em;
// }

// a {
//   color: $base;
//   background: rgba(0, 255, 255, 0.2);
//   text-decoration: none;
//   padding-left: 0.1em;
//   padding-right: 0.1em;
//   padding-top: 1px;
//   padding-bottom: 1px;
//   border-radius: 0.1em;
//   margin-left: -0.1em;
//   margin-right: -0.1em;

//   &:hover {
//     text-decoration: underline;
//   }
// }

// body > header {
//   color: $medium;
//   font-family: $sans;
//   font-weight: 400;
//   font-size: 1.2em;

//   a {
//     color: $base;
//     background: $soft;
//     text-decoration: none;
//     padding-left: 5px;
//     padding-right: 5px;
//     padding-top: 1px;
//     padding-bottom: 1px;
//     border-radius: 0.1em;
//     margin-left: -5px;
//     margin-right: -5px;
//   }

//   a:hover {
//     text-decoration: underline;
//   }
// }

// article {
//   margin-top: 4em;

//   > h1 {
//     > a {
//       &:hover {
//         text-decoration: underline;
//       }
//     }
//     margin-top: 0;
//   }

//   header {
//     line-height: 1em;
//     time {
//       font-size: 1em;
//       margin: 0;
//     }
//   }

//   header, footer {
//     font-family: $sans;
//     font-weight: 400;
//     color: $highlight;

//     ol, li {
//       display: inline;
//       padding: 0;
//     }

//     li {
//       color: $medium;
//       a {
//         color: $highlight;
//         text-decoration: none;

//         &:hover {
//           text-decoration: underline;
//         }
//       }

//       &:before {
//         content:" · ";
//       }

//       &:first-of-type::before {
//         content:"";
//       }
//     }
//   }

//   padding-bottom: 1em;
// }

// code {
//   font-family: $mono;
//   letter-spacing: -1px;
//   padding-left: 0.2em;
//   padding-right: 0.2em;
//   background: $contrast;
//   border-radius: 0.1em;
// }

// article.link {
//   border-bottom: none;
//   margin-top: 4em;
//   padding-bottom: 0;

//   figure, blockquote {
//     margin: 0;
//   }

//   .quotation {
//     &::before {
//       content: "“";
//     }

//     &::after {
//       content: "”"
//     }
//   }

//   cite, figcaption {
//     display: block;
//     font-size: 18px;
//     line-height: 1.6em;
//     font-style: italic;
//   }

//   cite {
//     text-align: right;
//   }

//   figcaption {
//     text-align: center;
//     margin-bottom: 0.5em;
//   }

//   cite::before {
//     content: "— ";
//   }

//   a {
//     color: $base;
//     text-decoration: none;
//   }

//   figure {
//     text-align: center;

//     img {
//       max-height: 480px;
//       max-width: 100%;
//       width: auto;
//       height: auto;

//       @include media-border();
//     }
//   }

//   .youtube {
//     padding-top: 65%;
//     height: 0;
//     overflow: hidden;
//     position: relative;
//     @include media-border();

//     iframe {
//       width: 100%;
//       height: 100%;
//       position: absolute;
//       top: 0;
//       left: 0;
//     }
//   }
// }
