{{- $page := "/bites" -}}
{{- $category := path.Dir .File.Dir | singularize -}}
{{- $resources := (.Site.GetPage $page).Resources -}}
{{- $root := index (split .File.Path ".") 0 -}}
{{- $image := ($resources.ByType "image").GetMatch (printf "%s**" (substr $root (len $page))) -}}

<article class="bite" data-url="{{ .Permalink }}" data-category="{{ .Params.category }}">
  {{ if eq $category "bite" }}
    {{ .Content }}
  {{ else }}
    {{- partial $category (merge .Params (dict "page" . "image" $image )) -}}
  {{- end -}}
</article>
