{{ if .File }}
{{- $link := merge .Params (dict "page" .) }}
{{- $link := merge $link (dict "category" (path.Dir .File.Dir | singularize)) -}}
{{- $link := merge $link (dict "root" (index (split .File.Path ".") 0 )) -}}
{{- $link := merge $link (dict "slug" (substr $link.root (len "links/"))) -}}
{{- $link := merge $link (dict "category" (path.Dir .File.Dir | singularize)) -}}

{{- $page := "/links" -}}
{{- $images := (.Site.GetPage $page).Resources.ByType "image" -}}
{{- $link := merge $link (dict "image" ($images.GetMatch (printf "%s**" (substr $link.root (len $page))))) -}}

<article id="{{ $link.slug }}" class="link" data-category="{{ $link.category }}">
  {{- partial $link.category $link -}}
</article>
{{ end }}
