{{ $category := path.Dir .File.Dir | singularize }}

{{ $root := index (split .File.Path ".") 0 }}

{{ if fileExists (printf "%s%s" $root ".jpg") }}
  {{ .Scratch.Set "image" (printf "%s%s" $root ".jpg") }}
{{ end }}

{{ if fileExists (printf "%s%s" $root ".png") }}
  {{ .Scratch.Set "image" (printf "%s%s" $root ".png") }}
{{ end }}

<article class="bite" data-url="{{ .Permalink }}" data-category="{{ .Params.category }}">
  {{ if eq $category "link" }}
    {{ .Content }}
  {{ else }}
    {{ partial $category . }}
  {{ end }}
</article>
