$width: 40rem;
$margin: 2rem;

$highlight: rgb(180, 255, 255);

@mixin black-uppercase {
  font-family: Rubik, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

@mixin highlighted-link {
  background: $highlight;
  padding: 0.1em 0.15em 0.1em 0.15em;
  margin-left: -0.10em;
  margin-right: -0.10em;
  border-radius: 0.1em;

  &:hover {
    background: rgba(200, 200, 200, 0.3);;
    text-decoration: underline;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  color: inherit;
  text-decoration: inherit;
}

body {
  font-family: Merriweather, serif;
  font-size: 12pt;
  line-height: 1.8rem;
}

.column {
  max-width: $width;
  margin-left: $margin;
  margin-right: $margin;
}

@media (min-width:#{$width + $margin + $margin}) {
  .column {
    margin-left: auto;
    margin-right: auto;
  }
}

h1, h2, h3, h4, h5 {
  @include black-uppercase();
}

a {
  @include highlighted-link();
}
